<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- web fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Anton"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald" />
    <!-- my own customized css and js -->
    <link href="{% static 'worklogger/mystyle.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'worklogger/myscript.js' %}"></script>
    <!-- files for my calendar -->
    <link href="{% static 'worklogger/calendar_style.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'worklogger/calendar_script.js' %}"></script>

    <title>Worklogger</title>
</head>

<body>
<div class="container-fluid">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'log:index' %}">Worklogger</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

          {% if user.is_authenticated %}
            <li><a href="{% url 'log:logout' %}">Logout</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% if user.is_authenticated %}
<div class="row" style="padding-left: 20px">
  <div class="user"><h3><span class="glyphicon glyphicon-user">&nbsp;</span>Hello {{ user }}!</h3></div>
</div>
{% endif %}
<div class="container-fluid">
{% block content %}
{% endblock %}
</div>
</body>

</html>