{% extends 'worklogger/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
        <form action="{% url 'log:logs' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label>{{ form.log_hours.label_tag }}</label>
                {{ form.log_hours }}
            </div>
            <div class="form-group">
                <label>{{ form.project.label_tag }}</label>
                {{ form.project }}
            </div>
            <div class="form-group">
                <label>{{ form.remarks.label_tag }}</label>
                {{ form.remarks }}
            </div>
            <div class="form-group">
                <input type="submit" value="Add Log">
            </div>
        </form>
        </div>
    </div>

    <div class="row">
        Total Log Hours for {{ date }}: {{ total }} hour{{ total | pluralize }}
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr class="table-head">
                    <td>Duration</td>
                    <td>Project</td>
                    <td>Remarks</td>
                </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr{% if log.late %} id="late"{% endif %}>
                    <td>{{ log.log_hours }} hour{{ log.log_hours | pluralize:',s' }}</td>
                    <td>{{ log.project }}</td>
                    <td>{{ log.remarks }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}