.calendar {
    width: 350px;
    background-color: rgb(250, 252, 231);
}

.month {
    background-color: rgb(53, 145, 196);
    height: 120px;
    padding: 10px 0 0 0;
}

div.current_year, div.current_month {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Anton', sans-serif;
}

.month button {
    margin: 30px 0 0 0;
    font-size: 30px;
    color: white;
    background-color: transparent;
    outline: none;
    border: transparent;
}

.month button:hover {
    color: rgb(0, 247, 255);
}

.prev {
    float: left;
}

.next {
    float: right;
}

.weekdays {
    color: white;
    background-color: rgb(126, 126, 126);
}

.weekdays div {
    display: inline-block;
    width: 13.3%;
    margin: 0 0 0 0;
    padding: 12px 0 12px 0;
    text-align: center;
    vertical-align: middle;
}

.dates div {
    display: inline-block;
    width: 14.2%;
    text-align: center;
    margin: 15px 0 0 0;
}

.dates div button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
}

div.active {
    background-color: rgb(255, 242, 71);
    font-weight: bolder;
}

.dates button {
    background-color: transparent;
    border: none;
    outline: none;
}

.dates button {
    width: 100%;
    height: 100%;
}